.registration-container {
    min-height: 60vh;
    min-width: 50vw;
    background-color: rgb(243, 243, 237);

    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    opacity: 0.95;

    display: flex;
    justify-content: center;
}
  
.Registration-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    width: 90%;
}

.Registration-form > h1 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    color: tomato;

    text-shadow: 1px 1px #060606;
}

.Registration-form > input, textarea {
    padding: 10px;
    outline-style: none;
    margin: 15px 5px;
    font-size: 1.20rem;

    border-radius: 10px;
    border: solid rgb(241, 145, 128) 1px;
}

.Registration-form > input:focus {
    outline-color: transparent;
}

.Registration-form > Button {
    padding: 10px 0;
    font-size: 1rem;
    margin: 15px 5px;

    font-size: 1.10rem;

    border-radius: 50px;
    font-weight: bold;
    background-color: tomato;

    transition: background-color 0.8s ease-in;
    transition: color 0.5s ease-in;

    border: solid 1px rgb(241, 145, 128);
}


.Registration-form > Button:hover {
    cursor: pointer;
    background-color: #0a8d48 !important;
    color: white;
}